<div *ngIf="displayChart === chartHelpers.CurrencyStatistics">
  <blockchain-currency-statistics
    (showChart)="clickedChart($event)"
  ></blockchain-currency-statistics>
</div>
<div *ngIf="displayChart === chartHelpers.BlockDetails">
  <blockchain-block-details></blockchain-block-details>
</div>
<div *ngIf="displayChart === chartHelpers.MiningInformation">
  <blockchain-mining-information></blockchain-mining-information>
</div>
<div *ngIf="displayChart === chartHelpers.NetworkActivity">
  <blockchain-network-activity></blockchain-network-activity>
</div>
<div *ngIf="displayChart === chartHelpers.BlockchainWalletActivity">
  <blockchain-wallet-activity></blockchain-wallet-activity>
</div>
