<div class="blockchain-chart">
  <div *ngIf="stats">
    <blockchain-chart-header
      [stats]="stats"
      (buttonMouseOver)="showCharts($event)">
    </blockchain-chart-header>
  </div>
  <div *ngIf="displayChart">
    <blockchain-chart-group
      [displayChart]="displayChart"
      (showChart)="getChart($event, 'all')">
    </blockchain-chart-group>
  </div>
</div>

<div class="chart-lightbox">
  <blockchain-chart-lightbox
    [chartData]="chartData"
  ></blockchain-chart-lightbox>
</div>
