.blockchain-chart {
  padding: 1.15rem;
}

.header {
  text-align: center;
  margin: 0 auto;
}

.button-group {
  margin-top: 1.15rem;

  .selected-button {
    background-color: #99def7;
  }
}

.chart-group {
  background-color: $link-color;

  .img-container {
    margin: 1rem;
    text-align: center;
    
    img {
      width: 17rem;
      height: 13rem;
    }
  }
}
